:root {
  --yellow: #ffe45e;
  --white: #d9ddef;
  --pink: #ff6392;
  --blue: #7fc8f8;
  --Dblue: #4f92c5;
}

body {
  background: var(--blue);
  color: var(--Dblue);
}

header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

header a {
  text-decoration: none;
  color: white;
  padding: 0 12px;
}

.link-admin {
  background: #ffe45e;
  border: 3px solid #ff6392;
  border-radius: 10px;
  color: #4f92c5;
}
.categories-container {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
}

.categories-container .center-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60%;
  border-radius: 12px;
  border: var(--pink) 3px solid;
  background: var(--yellow);
}

.categories-container .text-container {
  width: 50%;
  margin: 22px 0;
}

.categories-container .text-container h1 {
  font-size: 2em;
}

.categories-container .sort-container {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.categories-container .sort-container .select-container,
.search-container {
  width: 20%;
}

.categories-container .center-container .table-container {
  width: 100%;
}
.categories-container .center-container .table-container .tr {
  border: var(--pink) 4px solid;
  color: var(--Dblue);
}
.categories-container .center-container .table-container .tr .del-edit {
  width: 20%;
}
.categories-container .center-container .table-container .tr .del-edit .del-btn {
  color: var(--Dblue);
  border: var(--pink) 2px solid;
}
.categories-container .center-container .table-container .tr .del-edit .edit-btn {
  color: var(--Dblue);
  border: var(--pink) 2px solid;
}

.categories-container .center-container .button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.categories-container .center-container .add-new {
  color: var(--Dblue);
  border-radius: 12px;
  border: var(--pink) 2px solid;
  margin: 28px 0;
}

.categories-container .center-container .form-container {
  width: 100%;
}

.categories-container .center-container .form-container .button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.categories-container .center-container .table-container .btn-role {
  border: var(--pink) 2px solid;
}

.edit-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-container .form-container {
  width: 100%;
  background: var(--yellow);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.share-invite {
  align-items: center;
  margin-top: 10px;
}
.share-invite-text {
  text-align: center;
}

.share-invite button {
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  color: white;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  margin: 12px;
}

.share-invite button.whatsapp {
  background-color: #25d366;
}

.share-invite button.telegram {
  background-color: #0088cc;
}

.share-invite button.messages {
  background-color: #ffcc33;
}

.share-invite button.slack {
  background-color: #4a154b;
}

.share-invite button.copy {
  background-color: #555041;
}

.share-invite button i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.share-invite .share-invite-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
